@import 'variable';
@import 'mixin';


.informations {
    @include flex (space-around,center);
    background-color: $seventh-color;


&__leftside {

    .informations__title {
        color:$eighth-color;
        font-weight: bolder;
        
    }
    .informations__para1 {
        color:#1A519E;
        font-weight: bolder;
    }
    

} 
&__link {
    color:white;
    font-weight: bolder;
    padding: 2px 14px;
    background-color: #1078AD;
    border-radius: 4px;

}   
}