@import 'variable';
   .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 50px;
        background-image: url(/Design/Assets/png/Mergedbar-53.png);
        height: 10vh;

        &__lists {

        display: flex;
        list-style-type: none;

        li {
            padding: 0 20px;
        }
        a {
            text-decoration: none;
            color: color(black);
        }
        }
    }
