@import 'variable';
@import 'mixin';

.protection {
    h1 {
        text-align: center;
        margin: 20px auto;
        max-width: 30%;
        color: $eighth-color;
    }

    &__images {
        @include flex (space-around,center);
        width: 60vw;
        margin: auto;

        p {
            text-align: center;
            color: $tenth-color;
            font-weight: bolder;
        }

        .protection__group1 {
            width: 20vw;
            text-align: center;

        }

        .protection__group2 {
            width: 30vw;
            text-align: center;

        }

        .protection__group3 {
            width: 20vw;
            text-align: center;

        }

    }

    &__iconhouse {
        text-align: center;
        width: 50vw;
        margin: auto ;
        color: $tenth-color;
        font-weight: bolder;
    }

}