.section1 {
   line-height: 20px;
   background-color: #F4CF1B;
   padding: 20px;
  

   &__parag {
       font-size: 15px ;
       width: 45vw;
       margin: 0 auto;
       text-align: center;
       margin-top: -10px;
       color:#1078AD;
   }

   &__title {

    text-align: center;
    margin-top: -2px;
    font-size: 17px;


   }
}