@import 'variable';
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &__content {
    width: 40vw;
    text-align: center;
    

    h2 {
      color: $eighth-color;
      font-size: 20px;
      text-align: center;
      padding: 0 33px;

    }

    p {
        color: $third-color;
        font-size: 17px;
        line-height: 30px;
        font-weight: bold;
        width: 25vw;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    a {
        color:$fourth-Color;
        text-decoration: none;
        border: 1px solid $eighth-color;
        padding: 6px 130px;
        background-color: $eighth-color;
        font-weight: bold;
        border-radius: 5px;
    }
    
  }
}
