
.section4 {
    background-color: #1078AD; 
    h1 {
        text-align: center;
        color:#D0E5F0;

    }

    &__recomm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        margin: auto;
        
    }

    li {
        list-style-type: none;
        color:#FFFFFF;
        font-size: 27px;
        
       
       
        
    }

    a {
        text-decoration: none;
        
    }

    &__contact {

        h3 {
            color:#F4CF1B;
            text-align: center;
        }

        span {
            color:#1078AD;
            background-color:#F4CF1B ;
            padding: 9px 15px;
            border-radius: 5px;
        }

        p {

            color:#FFFFFF;
            text-decoration: underline solid #F4CF1B ;
        }
    }
}