@import 'variable';
.section4 {
    background-color: $eighth-color; 
    h1 {
        text-align: center;
        color:$fourth-Color;

    }

    &__recomm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        margin: auto;
        
    }

    li {
        list-style-type: none;
        color:$fourth-Color;
        font-size: 27px;
        
       
       
        
    }

    a {
        text-decoration: none;
        
    }

    &__contact {

        h3 {
            color:$first-color;
            text-align: center;
        }

        span {
            color:$eighth-color;
            font-size: 17px;
            font-weight: bolder;
            background-color: $first-color ;
            padding: 9px 15px;
            border-radius: 5px;
            
        }

        p {

            color: $seventh-color;
            text-decoration: underline solid $first-color ;
        }
    }
}

// @media screen only and (max-width:1044px) {
//     .section4__recomm {
//         width:70vw;
//     }

//     .section4__contact {
//         span {
//             color:$eighth-color;
//             font-size: 15px;
//             font-weight: bolder;
//             background-color: $first-color ;
//             padding: 5px 12x;
//             border-radius: 5px;
            
//         }





// }


