.section3 {
    width: 40vw;
    margin-top: 10px;
    margin: auto;
    h2 {
        text-align: center;
        color: #1078AD;
    }
    &__groups {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        

    }

}