@import 'variable';
@import 'mixin';
.transmissions {
h1 {
    text-align: center;
    color: $eighth-color;
    font-size: 25px;
}  

&__content {
    @include flex (space-around,center);
    text-align: center;
    width: 70vw;
    margin: auto;

    p {
        color:$tenth-color;
        font-weight: bolder;
    }
}
}