.transmissions {
    


h1 {
    text-align: center;
    color: $eighth-color;
    font-size: 25px;
}  

&__content {

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 70vw;
    margin: auto;

    p {
        color:$tenth-color;
        font-weight: bolder;
    }
}
}