.test1 {

    &__quest1 {
        width: 40vw;
        margin: auto;
        font-size: 1.2em;
        color: #787878;
        margin-bottom: 30px;
        text-align: left;

    }

    &__content {

        text-align: left;
        width: 60vw;
        margin: auto;

        .test1__info {
            background-color: #F4CF1B;
            color: black;
        
            padding: 10px 10px;

            border-radius: 2px;
        }

        .test1__qstSuivante {
            background-color: #1078AD;
            border: none;
            color: white;
            padding: 15px 32px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            border-radius: 2px
        }

    }


}